<img src="https://static.wikia.nocookie.net/control6745/images/e/ea/Federal_Bureau_of_Control_Logo.png" alt="DET Logo" style="display: block; margin: 0 auto; width: 400px;">

<p style="color: green"><%= notice %></p>

<h1>Data Privacy Division AIPRT Team Message Board</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
